 <div>
 <h2 ng-bind="post.title"> </h2>
          <p><img ng-src="Resources/img/{{post.image}}" /></p>
          <p class="small">Авторы: <span ng-bind="post.authors"></span></p>
          <p class="small">Жанры: <span ng-bind="post.genres"></span></p>
          <p>Цена: <span ng-bind="post.price | currency"></span></p>
          
          <p>
				<a class="btn btn-default" href="#/product/{{post.id}}" role="button">Подробней &raquo;</a>  
				<button type="button" class="btn btn-danger" ng-click="ic.buy($index)" >Купить </button>
		  </p>
   </div>
          
         
		  
          
         
