<div>
		<p>Скидка:<b ng-bind="cU.me.sale"></b>%</p>
		<h3>Заказы</h3>
		<div class="row"   ng-repeat="item in cU.text.items">
			<div class="col-md-2" ng-bind="item.id" >	</div>
			<div class="col-md-2" ng-bind="item.payment" >	</div>
			<div class="col-md-2" ng-bind="item.sum | currency" >	</div>
			<div class="col-md-2" ng-bind="item.orderDate" >	</div>
			<div class="col-md-2" ng-bind="item.status" >	</div>
			<div class="col-md-2"><a href="#/order/{{item.id}}">info</a></div>
			
		</div>
</div>
